
*{
	margin: 0;
	padding: 0;
}

header{
	display: flex;
	justify-content: space-between;
}

.logo{
	padding-top: 10px;
	display: flex;
	height: 200px;
	width: 150px;
	padding-left: 30px;
	padding-top: 30 px;
	vertical-align: middle;	
}

.nav{
	display: flex;
	justify-content: center;
	align-items: center;
}
body{
	background-color: #FAECEA;
}

ul.list {
	display: flex;
	list-style: none;
	font-size: 35px;
	padding-right: 90px;
}

.menu-text{
	font-size: 17px; 
	font-family: Halvetica, Arial, sans-serif;
	padding-left: 30px;
	color: black;
	font-weight: 350;
	letter-spacing: 2px;
	text-decoration: none;
}

.books{
	font-weight: 800;
}

.menu-text:hover{
	text-decoration: underline;
	font-size: 17.5px;
}

.characters{
	padding-top: 70px;
	display: flex;
	justify-content: space-around;
	
}

.hero{
	width: 300px;
	height: 226px;
}
.hero:hover {
    border: 3px solid white; 
    border-radius: 10px;
	transform: scale(1.1);
	transform-origin: 0 0;
	outline-width: 0.1;
	outline-style: solid;
   }

.house{
	color: black;
	font-size: 18px;
	margin-bottom: 15px;
	letter-spacing: 0.5px;
	padding-left: 5px;
}

.name{
	padding-top: 5px;
	margin-bottom: 3px;
	font-family: Halvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
	padding-left: 5px;
}

.intro{
	padding-top: 5px;
	font-family: Halvetica, Arial, sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 15px;
	letter-spacing: 0.5px;
	padding-left: 5px;
}
.introKhal{
	text-decoration: line-through;
	font-size: 16px;
	padding-left: 5px;
	padding-left: 5px;
}

.character{
	padding-bottom: 20px;
}

.section{
	padding: 20px 0;
}
h1{
	padding-top: 20px;
	padding-left: 33px;
}
.more{
	padding-top: 70px;
	font-family: Halvetica, Arial, sans-serif;
	text-align: center;
	margin-bottom: 21px;
	font-weight: bold;
	font-size: 27px;
}

.secondnav{
	background: #AFA9A9;
	height: 60px;
	width: 100%;
}

.list2{
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	list-style: none;
	padding-top: 20px;
}

.tap{
	font-family: Halvetica, Arial, sans-serif;
	font-size: 15px;
	padding-left: 20px;
	letter-spacing: 2px;
	color: white ;
	text-decoration: none;
}

.tap:hover{
	color: black;
}

footer{
	display: flex;
	align-items: center;
	justify-content: center;
	background: #363738;
	color: white;
	height: 80px;
}